<main class="form-signin">
    <form method="POST">
        <p class="mb-3 fw-normal">Please enter your phone number</p>

        <div class="form">
            <div>Phone number</div>
            <input type="text" name="phone" class="form-control" id="floatingInput" placeholder="078 ... .. ..">
        </div>

        <button class="w-100 btn btn-lg btn-primary buttons" type="submit">Sign in</button>
        <button class="w-100 btn btn-lg btn-primary buttons" onclick="location.href='?reset'" type="button">Reset the process</button>
    </form>
</main>